.m-b-2 {
    margin-bottom: 2em;
}

.m-b-3 {
    margin-bottom: 3em;
}

.fixed-width-font {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}